/*@import url(https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap):*/


/*import fonts and external*/

@import url('components/banners.css');
@import url('components/button.css');
@import url('components/avatar.css');


@import url('sparta-homepage.jpg');

/*https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-misctexture01-beer-000_5.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=c1552a7bdc2ea7b6e17d8d0d893c15be
height: 400vh;
    background-size:cover;*/

.banner {
    background-image: url("image.jpg");
}

.container {
    text-align: center;
	width: auto;
	margin-left: 35px auto;
}

body, p {
	font-family: 'Lato', sans-serif;
	color: rgba(40, 40, 40, 0.9);
	text-align:center;
}

h1, h2, h3 {
	font-family: 'EB Garamond', serif;
	color: rgba(40, 40, 40, 1);
	font-weight: bold;
}

h1 {
    font-size: 60;
}

h2, h3 {
	font-weight: light;
}

a {
	text-decoration: none;
    margin: 0px;
}
footer {
  text-align: center;
  padding: 3px;
}
